@font-face {
    font-family: 'IBM Plex Sans Condensed';
    src: local('IBM Plex Sans Condensed Bold'), local('IBMPlexSansCond-Bold'),
    url('#{$path-to-titles-font}IBMPlexSansCond-Bold.woff2') format('woff2'),
    url('#{$path-to-titles-font}IBMPlexSansCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('#{$path-to-normal-font}Roboto-Bold.woff2') format('woff2'),
    url('#{$path-to-normal-font}Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('#{$path-to-normal-font}Roboto-Regular.woff2') format('woff2'),
    url('#{$path-to-normal-font}Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

