<div class="md-flex md-justify-between md-items-center text-12">
    <p>© 2019 - STEELMAG - <?php echo __('All rights reserved') ?></p>
    <p><?php echo __('AVP® is a registered trademark of STEELMAG') ?></p>
</div>
