<ul class="links-social flex -mx-10">
    <li class="mx-10">
        <a href="#" class="link" title="Youtube" aria-label="Youtube">
            <span class="icon icon-youtube" aria-hidden="true"></span>
        </a>
    </li>
    <li class="mx-10">
        <a href="#" class="link" title="Youtube" aria-label="Youtube">
            <span class="icon icon-linkedin" aria-hidden="true"></span>
        </a>
    </li>
    <li class="mx-10">
        <a href="#" class="link" title="Youtube" aria-label="Youtube">
            <span class="icon icon-twitter" aria-hidden="true"></span>
        </a>
    </li>
</ul>
