<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 *  General template for displaying group of blocks divided into sections
 */

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')) :?>
    <div class="page-navigation sections <?= $block->escapeHtmlAttr($groupCss) ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="section-items <?= $block->escapeHtmlAttr($groupCss) ?>-items"
             data-mage-init='{"tabs":{"openedState":"active"}}'>
            <ul class="section-items-head <?= $block->escapeHtmlAttr($groupCss) ?>-item-head flex md-hidden">
                <?php foreach ($detailedInfoGroup as $name) :?>
                    <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html) && ($block->getUseForce() != true)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    ?>
                    <li class="section-item-title <?= $block->escapeHtmlAttr($groupCss) ?>-item-title flex-1"
                         data-role="collapsible">
                        <a class="<?= $block->escapeHtmlAttr($groupCss) ?>-item-switch text-12 h-50 flex items-center justify-center"
                           data-toggle="switch" href="#<?= $block->escapeHtmlAttr($alias) ?>">
                            <?= /* @noEscape */ $label ?>
                        </a>
                    </li>

                <?php endforeach;?>
            </ul>
            <?php foreach ($detailedInfoGroup as $name) :?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html) && ($block->getUseForce() != true)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
            <div class="section-item-content <?= $block->escapeHtmlAttr($groupCss) ?>-item-content"
                 id="<?= $block->escapeHtmlAttr($alias) ?>"
                 data-role="content">
                <?= /* @noEscape */ $html ?>
            </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
