<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text sr-only" translate="'My Cart'" />
        <!-- <span class="qty empty" text="getCartParam('summary_count')" data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span> -->
    </strong>
</div>

<div class="block-content">
    <div class="minicart-top flex items-center text-12 pb-20"
        data-bind="css: { 'justify-end': !!getCartParam('summary_count') == false, 'justify-between': getCartParam('summary_count') }">
        <if args="getCartParam('summary_count')">
            <div class="items-total">
                <span class="count" if="maxItemsToDisplay < getCartLineItemsCount()"
                    text="maxItemsToDisplay" />
                <translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()" />
                <span class="count minicart-count" text="getCartParam('summary_count')" />
                <!-- ko if: (getCartLineItemsCount() === 1) -->
                <span translate="'Item in Cart'" />
                <!--/ko-->
                <!-- ko if: (getCartLineItemsCount() > 1) -->
                <span translate="'Items in Cart'" />
                <!--/ko-->
            </div>
        </if>
        <button type="button" id="btn-minicart-close" class="action close minicart-close" data-action="close"
            data-bind="attr: { title: $t('Close') }">
            <span class="sr-only" translate="'Close'" />
            <span class="icon icon-close"></span>
        </button>
    </div>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle sr-only" translate="'Recently added item(s)'" />
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                    render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}" />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty block pt-20" data-bind="visible: closeSidebar()"
            translate="'You have no items in your shopping cart.'" />
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')" />
            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View Cart'" />
                    </a>
                </div>
            </div>
        </if>
    </ifnot>

    <div class="actions mt-20" if="getCartParam('summary_count')">
        <div class="secondary">
            <a class="action viewcart btn-primary" data-bind="attr: {href: shoppingCartUrl}">
                <span translate="'View Cart'" />
            </a>
        </div>
    </div>

    <div id="minicart-widgets" class="minicart-widgets" if="getRegion('promotion').length">
        <each args="getRegion('promotion')" render="" />
    </div>
</div>
<each args="getRegion('sign-in-popup')" render="" />
