<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item minicart-items__product pt-20 pb-15" data-role="product-item">
    <div class="product flex">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details flex-auto ml-15">
            <strong class="product-item-name block leading-none">
                <!-- ko if: product_has_url -->
                <a class="title-xxs inline-block" data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <!-- ko text: product_name -->
                <!-- /ko -->
                <!-- /ko -->
            </strong>

            <!-- ko if: options.length -->
            <div class="product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                <span data-role="title" class="toggle">
                    <!-- ko i18n: 'See Details' -->
                    <!-- /ko --></span>

                <div data-role="content" class="content">
                    <strong class="subtitle">
                        <!-- ko i18n: 'Options Details' -->
                        <!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label">
                            <!-- ko text: option.label -->
                            <!-- /ko -->
                        </dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                            <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && option.option_type == 'file') -->
                            <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && option.option_type != 'file') -->
                            <span data-bind="text: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->

            <div class="flex justify-between items-center mt-15">
                <div class="product-item-pricing mr-10">

                    <div class="details-qty qty">
                        <label class="label mr-20" data-bind="i18n: 'Qty :', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
                        <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty" type="number" size="4" class="item-qty cart-item-qty">
                        <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }" class="update-cart-item" style="display: none">
                            <span data-bind="i18n: 'Update'"></span>
                        </button>
                    </div>
                </div>

                <div class="product actions flex -mx-10">
                    <!-- ko if: is_visible_in_site_visibility -->
                    <div class="primary mx-10">
                        <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                            <span class="sr-only" data-bind="i18n: 'Edit'"></span>
                            <span class="icon icon-edit" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /ko -->
                    <div class="secondary mx-10">
                        <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                           class="action delete">
                            <span class="sr-only" data-bind="i18n: 'Remove'"></span>
                            <span class="icon icon-delete" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
