.customer {
    &-name {
        @include rem(padding, 0 14px 0 0);
        position: relative;

        &:after {
            @include icon($icon-angle-down, 7px);
            transition: transform .2s ease-in;
            transform-origin: 0 0;
            position: absolute;
            right: 0;
            @include rem(top, 5px);
            transform-origin: 50%;
        }

        span {
            font-weight: normal;
            border-bottom: 2px solid $c-white;
        }

        &.active {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &-menu {
        max-height: 0;
        overflow: auto;
        background-color: $c-white;
        color: $c-text;
        transition: all .3s ease-in;
        @include rem(margin, 0 -10px);
        position: absolute;
        top: 100%;
        width: calc(100% + 20px);
        box-shadow: 0px 1px 10px rgba(0,0,0,.5);
        z-index: 1;

        a {
            @include rem(padding, 5px 10px);
            color: inherit;
            display: block;
        }

        .links {
            flex-direction: column;
        }
    }

    &-welcome {
        position: relative;

        &.active {
            .customer-menu {
                max-height: 200px;
            }
        }

        + .authorization-link {
            display: none;
        }
    }
}
