.action.showcart {
    border: 2px solid $b-color;
    @include rem(width, 42px);
    @include rem(height, 42px);
    color: $c-text;
    text-align: center;
    position: relative;

    .showcart-icon {
        color: $c-secondary;
    }

    .counter-number {
        font-size: 0;
        @include rem(height, 18px);
        @include rem(width, 18px);
        border-radius: 50%;
        border: 3px solid $c-white;
        position: absolute;
        @include rem(top, -9px);
        @include rem(right, -9px);
        background-color: $c-primary;
    }

    ._block-content-loading {
        .counter-number {
            animation: cart-count-animation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            border-width: 0;
        }
    }
}


.block-minicart {
    background-color: $c-white;
    @include rem(border-radius, 5px);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 10px 30px 0 rgba($c-black, 0.15);
    @include rem(padding, 20px);
    display: none;
    z-index: 2;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent $c-white transparent;
        border-width: 0 5px 5px;
        position: absolute;
        @include rem(top, -5px);
        @include rem(right, 29px);
    }
}

.minicart {
    &-wrapper {
        &.active {
            .block-minicart {
                display: block;
            }
        }
    }

    &-close {
        opacity: .33;
        transition: opacity .2s ease-in;

        &:hover {
            opacity: 1;
        }

        &,
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    &-top {
        border-bottom: 1px solid $c-border-light;
        color: $grey-light;
    }

    &-count {
        color: $c-black;
    }

    &-items {
        &-wrapper {
            @include rem(max-height, 250px);
            overflow: auto;
        }

        &__product {
            border-bottom: 1px solid $c-border-light;

            .action {
                color: $grey-medium;
                @include rem(font-size, 13px);
            }

            .cart-item-qty {
                @include rem(height, 36px);
                @include rem(padding, 0 15px);
                border-color: $grey-medium;
                color: $c-black;
                @include rem(width, 100px);
            }
        }
    }
}


@screen md {
    .minicart {
        &-wrapper {
            position: relative;
        }
    }

    .block-minicart {
        @include rem(width, 375px);
        @include rem(right, -13px);
        top: calc(100% + 15px);
        left: auto;
        z-index: 2;
    }
}


@keyframes cart-count-animation {
    0% {
        @include rem(top, -9px);
        @include rem(right, -9px);
        @include rem(width, -9px);
        @include rem(height, -9px);
        opacity: 1;
    }
    100% {
        @include rem(top, -9px);
        @include rem(right, -9px);
        @include rem(width, 18px);
        @include rem(height, 18px);
        opacity: 0;
    }
}
