.header {
    @screen md {
        &-search {
            width: 100%;
            @include rem(max-width, 654px);
        }
    }
}

.minisearch {

    .control {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height .3s ease-in;
        z-index: 2;
    }

    &.active {
        .control {
            @include rem(height, 42px);
        }
    }

    @screen md {
        .control {
            position: relative;
            height: auto;
        }
    }

}



