@mixin container($size: default) {
    margin-right: auto;
    margin-left: auto;
    @include rem(padding-right, $gutter);
    @include rem(padding-left, $gutter);

    @if default {
        @include rem(max-width, $container-max-width);
    }
}


@mixin icon($icon: false, $size: false) {
    @if $icon {
        content: $icon;
    }

    @if $size {
        @include rem(font-size, $size);
    }

    display: inline-block;
    font-family: "steelmag_icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin align($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin title($type: l) {
    font-family: $ff-titles;
    font-weight: bold;
    text-transform: uppercase;
    color: $c-black;

    @if $type == "l" {
        @include rem(font-size, 24px);
        line-height: 1.25;

        &:after {
            content: '';
            display: block;
            @include rem(width, 40px);
            @include rem(height, 2px);
            background-color: $c-primary;
            @include rem(margin, 20px 0 30px);
        }

        @screen md {
            @include rem(font-size, 32px);
        }
    }

    @if $type == "xl" {
        @include rem(font-size, 37px);
        line-height: 1.13;
    }
}
