@import "../imports";

.hp-block {
    @include rem(margin, 0 -#{$gutter} 60px);

    &__content {
        @include rem(padding, 50px #{$gutter} 0);
        background-color: $c-white;
        position: relative;

        &:after {
            content: "";
            @include rem(width, 220px);
            @include rem(height, 35px);
            background: $bg-body;
            position: absolute;
            bottom: 0;
        }
    }

    img {
        @include rem(margin, 50px -#{$gutter} 0);
        width: calc(#{$gutter} + 100% + #{$gutter});
        max-width: none;
    }

    h2 {
        @include title(l);
    }

    p {
        line-height: 1.57;
    }

    &:nth-of-type(2n) {
        .hp-block__content {
            &:after {
                transform: skew(30deg);
                @include rem(left, -15px);
            }
        }
    }

    &:nth-of-type(2n+1) {
        .hp-block__content {
            &:after {
                transform: skew(-30deg);
                @include rem(right, -15px);
            }
        }
    }

    @screen md {
        @include rem(margin, 60px 0);

        .container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            @include rem(min-height, 370px);
            position: relative;
        }

        &__content {
            width: 50%;
            box-shadow: 0 3px 30px 0 rgba(110,110,110,0.15);
            position: initial;
            @include rem(padding, 70px 40px);
            @include rem(margin, 0 0 35px);
            flex: auto;

            &:after {
                width: 60%;
                z-index: -1;
            }
        }

        img {
            position: absolute;
            max-width: calc(50% - 20px);
            min-height: 100%;
            top: 0;
            margin: 0;
            z-index: -1;
            box-shadow: 0 3px 30px 0 rgba(110,110,110,0.15);
        }

        &:nth-of-type(2n+1) {
            .container {
                align-items: flex-end;
            }

            .hp-block__content {
                img {
                    @include rem(left, 20px);
                }
            }
        }

        &:nth-of-type(2n) {
            .container {
                align-items: flex-start;
            }

            .hp-block__content {
                img {
                    @include rem(right, 20px);
                }
            }
        }
    }
}



.hp-banner {
    background-color: $c-secondary;

    overflow: hidden;
    position: relative;

    &__content {
        @include rem(min-height, 400px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        @include title(xl);
        color: $c-white;
        text-align: center;
        z-index: 1;

        strong {
            display: block;
        }
    }

    h3 {
        position: absolute;
        @include rem(right, 20px);
        @include rem(top, 20px);
        color: $c-black;
        @include rem(font-size, 42px);
        text-align: center;
        background: linear-gradient(180deg, #FFEF99 0%, #FCB001 100%);
        border-radius: 50%;
        @include rem(padding, 15px);
        @include rem(height, 105px);
        @include rem(width, 105px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    img {
        position: absolute;
        @include align();
        min-height: 100%;
        max-width: none;
    }

    @screen md {
        &__content {
            position: relative;
            justify-content: flex-start;
        }

        h2 {
            text-align: left;
        }

        h3 {
            top: auto;
            @include rem(bottom, 40px);
        }

        img {
            max-width: 930px;
            transform: none;
            left: auto;
            top: 0;
            right: 0;
        }

        &:after {
            content: "";
            width: 50%;
            @include rem(height, 35px);
            background: $bg-body;
            position: absolute;
            bottom: 0;
            transform: skew(30deg);
            @include rem(left, -15px);
        }
    }
}
