<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
?>
<div class="block block-search header-search mx-15">
    <div class="block block-content">
        <form class="form minisearch md-relative md-mt-20" id="search_mini_form" action="<?= $block->escapeUrl($helper->getResultUrl()) ?>" method="get">
            <div class="field search flex flex-wrap justify-end">
                <label class="label action-icon md-sr-only text-right cursor-pointer" for="search" data-role="minisearch-label">
                    <span class="icon icon-search" aria-hidden="true"></span>
                    <span class="sr-only"><?= $block->escapeHtml(__('Search')) ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= $block->escapeUrl($helper->getSuggestUrl())?>",
                                "destinationSelector":"#search_autocomplete",
                                "minSearchLength":"<?= $block->escapeHtml($helper->getMinQueryLength()) ?>"}
                           }'
                           type="text"
                           name="<?= $block->escapeHtmlAttr($helper->getQueryParamName()) ?>"
                           value="<?= $block->escapeHtmlAttr($helper->getEscapedQueryText()) ?>"
                           placeholder="<?= $block->escapeHtmlAttr(__('Find your shade')) ?>"
                           class="input-text w-full pr-45"
                           maxlength="<?= $block->escapeHtmlAttr($helper->getMaxQueryLength()) ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"
                           aria-expanded="false"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                </div>
                <span class="text-11 hidden md-block w-full leading-relaxed pt-5"><?= $block->escapeHtmlAttr(__('Exemple : « AVP 2055 »')) ?></span>
            </div>
            <div class="actions hidden md-block absolute top-0 right-0 z-10">
                <button type="submit"
                        title="<?= $block->escapeHtmlAttr(__('Search')) ?>"
                        class="action search action-icon md-dark border-text"
                        aria-label="Search"
                >
                    <span class="sr-only"><?= $block->escapeHtml(__('Search')) ?></span>
                    <span class="icon icon-search text-18" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
