.footer {

    .links {
        @include rem(margin, 0 0 20px);

        a, strong {
            @include rem(font-size, 14px);
            line-height: 1.57;
            position: relative;
            display: inline-block;
            @include rem(padding, 0 0 0 10px);
            @include rem(margin, 0 0 5px);

            &:before {
                @include icon($icon-angle-right, 8px);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                left: 0;
                transition: left .2s ease-in;
            }

            &:hover {
                &:before {
                    @include rem(left, 3px);
                }
            }
        }

        &-social {
            .link {
                border: 1.13px solid $c-border-light;
                display: block;
                @include rem(height, 34px);
                @include rem(width, 34px);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .icon {
                @include rem(font-size, 18px);
                line-height: .9;
            }
        }
    }

    &-bottom {
        border-top: 1px solid rgba($c-white, .25);
    }

    @screen md {

        .links {
            display: flex;
            @include rem(margin, 0 -15px);

            a {
                @include rem(margin, 0 15px);
            }
        }
    }
}
