@import "header/account";
@import "header/minicart";
@import "header/search";
@import "header/menu";

.page-header {
    background-color: $bg-header;
}

.header {
    &-top {
        .switcher-language {
            @apply order-last;
        }

        &-content {
            @include rem(margin, 0 -10px);

            > .switcher,
            > .header.links {
                @include rem(margin, 0 10px);
            }
        }
    }

    .greet.welcome {
        @include rem(margin, 0 10px 0 0);

        + .authorization-link {
            @include rem(margin, 0 10px 0 0);
        }
    }

    &.links {
        display: flex;
    }

    .logo {
        @include rem(max-width, 150px);

        @screen md {
            @include rem(max-width, 229px);
        }
    }
}
